#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





/* Navigation */
/* li {
  display: inline-flex;
  } */

  :root {
    --navigation-color: rgb(22, 22, 129);
    --highlight-color: rgb(128, 171, 245);
    --heading-color: rgb(255, 255, 255);
    --contact-links: rgb(0,0, 255); 
    --label-highlight: rgba(128, 171,245, .75);
    --header-background: rgb(25, 25, 75);
  }

 li a, li a:visited {
  text-decoration: none;
  }
  
  ul {
  list-style-type: none;
  }
  
  a:hover {
    filter:drop-shadow(0 0 5px var(--highlight-color));
    color: aliceblue;
  text-decoration: underline;
  }

a {
  color: var(--highlight-color);
}

nav a:hover {
  filter:drop-shadow(0 0 5px rgb(0, 48, 132));
}

nav a {
  color: rgb(0, 48, 132);
}

#projects a {
  color: var(--navigation-color);

}




  .card img:hover, .showcase-project img:hover {
    border: 5px solid var(--label-highlight);
    opacity: .5;
  }

  .project-label {
      padding: 5px;
      width: fit-content;
      height: fit-content;
      background-color: var(--label-highlight);
      position: relative;
      bottom: 74px;
  }



/* 
:root {
  --heading-color: rgb(22, 22, 129);
  --highlight-color: rgb(128, 171, 245);
  --navigation-color: rgb(255, 255, 255);
  --contact-links: rgb(0,0, 255); 
  --label-highlight: rgba(128, 171,245, .75);
  --header-background: rgb(25, 25, 75);
}

main {
display: flex;
flex-wrap: wrap;
padding: 10px;
}

header {
display: flex;
justify-content: space-between;
align-items: flex-end;
padding: 10px;
margin-bottom: 10px;
width: 100%;
height: 200px;
}

header img {
display: flex;
width: 120px;
height: 160px;
margin-left: 10px;
}
#header-label {
padding: 5px;
width: fit-content;
height: fit-content ;
position: absolute;
left: 60px;
background-color: var(--label-highlight);
}

ul {
list-style-type: none;
}

.project img {
padding: 0 2.5px 0 2.5px;
width: 100%;
}
.project {
width: 50%;
}

.project img:hover, .showcase-project img:hover {
border: 5px solid var(--label-highlight);
opacity: .5;
}

#projects {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}
.info{
width: 75%;
margin-bottom: 10px;
padding: 0 10px 0 25px;
border-left: 2px solid var(--heading-color);
}

.contact-me ul {
display: flex;
justify-content: space-around;
}
.contact-me a, .contact-me a:visited {
text-decoration: none;
}

li {
display: inline-block;
margin-left: 10px;
}
nav li a, nav li a:visited {
text-decoration: none;
}

nav ul {
padding-right: 10px;
}

a:hover {
text-decoration: underline;
}

h1 {
color: var(--heading-color);
}
h2 {
  padding: 0 10px 0 10px;
  text-align: right;
  width: 25%;
  color: var(--heading-color);
}

.project-label {
padding: 5px;
width: fit-content;
height: fit-content ;
background-color: var(--label-highlight);
position: relative;
left: 2px;
bottom: 75px
}

footer {
  font-size: small;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

#heart {
color: crimson;
}

@media screen and (max-width: 992px) {
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header img {

  display: none;
  visibility: hidden;
}
h1 {
  display: flex;
  width: 100%;
}


#header-label {
  position:unset;
  height: fit-content;
  display: flex;
}

li {
  padding: 5px 0 0 0;
}
  
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 10px 5px 10px 5px;
    display: flex;
  }

  h1 {
    width: 100%;
    padding-bottom: 10px;
  }
  h2 {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .info {
    border: none;
    width: 100%;
    margin: 10px 0 10px 0;
  }

  ul {
    align-items: center;
    flex-direction: column;
  }
  li {
    padding: 5px 0 0 0;
    width: 100%;
  }

  .contact-me{
    text-align: center;
  }
  .project {
    width: 100%;
  }
  
} */